/* Home.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../public/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Home Page Container */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Home Page Section */
.home-page {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
}

/* Heading */
.home-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
}

/* Buttons */
.home-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(78, 134, 213);

  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
  transition: transform 0.2s, background 0.3s ease;
}

.home-button:hover {
  background-color: rgb(21, 111, 236);

  color: rgb(255, 255, 255);
  transform: scale(1.05);
}

.home-button:active {
  transform: scale(0.98);
}
